

  <ion-header>

    <ion-toolbar>
      <ion-title>login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <form  [formGroup]="loginForm" (ngSubmit)="submit()">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="userName"  type="text"></ion-input>
       
    </ion-item> 
    <ion-label color="danger"  *ngIf="loginForm.controls.userName.errors?.required && loginForm.controls.userName.touched">
      User Name is required.
    </ion-label>
   
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password"  type="password"></ion-input>
       
    </ion-item> 
    <ion-label color="danger"  *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">
      Password is required.
    </ion-label>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" [disabled]="loginForm.invalid">Login</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </ion-content>
  
